<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.23" targetFramework="net472" />
  <package id="KeraLua" version="1.2.14" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.664.37" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLua" version="1.5.9" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
</packages>